li {
    display: inline;
    padding: 0px 15px 0px 15px;
    font-size: 18.5px;
}

a {
    color: #576061;
    text-decoration: none;
}

a:hover {
    color: darkgrey;
}

hr {
    border-top: 1px solid #D1E0E8;
}

#navbar {
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
}

#navbar a {
    font-size: 20px;
}

#navbar a:hover {
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-decoration-color: #303536;
}

#logo {
    width: 170px;
    height: 170px;
}

#navigation {
    background-color: white;
    position: fixed;
    top: 0px;
	left: 0px;
	right: 0px;
}

#about {
    padding-top: 220px;
}

button {
    color: white;
    background-color: #2C2A2F;
}

button:hover {
    color: #2C2A2F;
    background-color: #A6DBEB;
}

#shop-by img {
    height: 300px;
    width: 350px;
}

#shop-by figcaption {
    color: #111112;
    background-color: #C8C7D4;
    text-align: center;
    padding: 20px 0px;
    font-size: 30px;
    margin-top: -5px;
}